body {
    background-image: linear-gradient(113deg, rgba(204,255,255,0.5), rgba(128,128,128,0.5));
}

h1 {
  text-align: center;
}

#userForm {
  text-align: center;
}

#userInput {
  width: 60px;
}

.scriptOutput {
  display: none;
}

.beep {
  background-image: linear-gradient(to left, rgba(102,204,255,0.25), rgba(255,204,153,0.1));
  text-shadow: 102px 1px #0077b3;
}

.boop {
  background-image: linear-gradient(to left, rgba(153,255,153,0.25), rgba(255,153,255,0.1));
  text-shadow: 204px 1px #00cc00;
}

.dave {
  background-image: linear-gradient(to right, rgba(0,51,102,0.01), rgba(153,51,51,0.25));
  text-decoration: underline;
  text-decoration-style: wavy;
}
